In [1]:
import pandas as pd
from tortus import Tortus, get_annotated_path, load_annotated_data

HTML(value="<h1 style='text-align:center'>t &nbsp; <span style=        'color:#36a849'>o</span> &nbsp; r &nbsp…

HTML(value="<h3 style='text-align:center'>        easy text annotation in a Jupyter Notebook</h3>")

In [2]:
# Read news
data_path = '../../../../Relation Extraction/Datasets/100-news/100-news.csv'
data_df = pd.read_csv(data_path,sep='\t')
data_df = data_df.reset_index()
text_col = 'NERed_par'
id_col='index'
labels=['Org-Per','Per-Per']

In [ ]:
# Read movies reviews
data_path = '../../sample_project/movie_reviews.csv'
data_df = pd.read_csv(data_path)
text_col = 'reviews'
id_col='review_id'
labels = None

In [3]:
annotations = load_annotated_data(data_path)

In [4]:
data_df.head(5)

,index,NERed_par,e1_text,e1_label,e1_start,e1_end,e2_text,e2_label,e2_start,e2_end,REL
0,0,NNA - Within his tours of the Lebanese regions...,Walid Nassar,PERSON,17,19,Muhammad Jaffal,PERSON,50,52,met_with
1,1,NNA - Within his tours of the Lebanese regions...,Walid Nassar,PERSON,17,19,the Union of Tire Municipalities,ORG,55,60,NaN
2,2,NNA - Within his tours of the Lebanese regions...,Walid Nassar,PERSON,17,19,Hassan Dabouq,PERSON,69,71,met_with
3,3,NNA - Within his tours of the Lebanese regions...,Walid Nassar,PERSON,17,19,the Municipal Council,ORG,74,77,met_with
4,4,NNA - Within his tours of the Lebanese regions...,Walid Nassar,PERSON,17,19,"the Ministry of Tourism, Georges Nour",ORG,91,98,met_with

In [5]:
if annotations is not None:
    annotations.head(10)

In [6]:
tortus = Tortus(
    data_df,
    text_col ,
    num_records=5,
    id_column=id_col,
    labels=labels,
    annotations=annotations
)

In [7]:
tortus.annotate()

HBox(children=(HTML(value='<h1>t &nbsp; <span style="color:#36a849">o</span>             &nbsp; r &nbsp; t &nb…

Output()

In [8]:
tortus.annotations.to_csv(get_annotated_path(data_path),index=False)