In [1]:
import pandas as pd
from tortus import Tortus, load_annotated_data

HTML(value="<h1 style='text-align:center'>t &nbsp; <span style=        'color:#36a849'>o</span> &nbsp; r &nbsp…

HTML(value="<h3 style='text-align:center'>        easy text annotation in a Jupyter Notebook</h3>")

In [8]:
#data_path = '../../sample_project/movie_reviews.csv'
# data_path = '../../sample_project/non-eng.csv'
data_path = '../../../../Relation Extraction/Datasets/100-news/100-news.csv'

In [10]:
data_df = pd.read_csv(data_path,sep='\t')
annotations = load_annotated_data(data_path)

In [11]:
data_df.head(5)

,NERed_par,e1_text,e1_label,e1_start,e1_end,e2_text,e2_label,e2_start,e2_end,REL
0,NNA - Within his tours of the Lebanese regions...,Walid Nassar,PERSON,17,19,Muhammad Jaffal,PERSON,50,52,met_with
1,NNA - Within his tours of the Lebanese regions...,Walid Nassar,PERSON,17,19,the Union of Tire Municipalities,ORG,55,60,NaN
2,NNA - Within his tours of the Lebanese regions...,Walid Nassar,PERSON,17,19,Hassan Dabouq,PERSON,69,71,met_with
3,NNA - Within his tours of the Lebanese regions...,Walid Nassar,PERSON,17,19,the Municipal Council,ORG,74,77,met_with
4,NNA - Within his tours of the Lebanese regions...,Walid Nassar,PERSON,17,19,"the Ministry of Tourism, Georges Nour",ORG,91,98,met_with

In [12]:
if annotations is not None:
    annotations.head(10)

In [14]:
tortus = Tortus(
    data_df,
    'NERed_par', #'reviews',
    num_records=2,
    id_column='review_id',
    labels=['Org-Per','Per-Per'],
    annotations=annotations
)

In [15]:
tortus.annotate()

HBox(children=(HTML(value='<h1>t &nbsp; <span style="color:#36a849">o</span>             &nbsp; r &nbsp; t &nb…

HTML(value='Click on the label corresponding with the text below. Each selection requires                 conf…

HTML(value='<h4>NNA - The President of the Republic , General [E1] Michel Aoun [\\E1] , confirmed to the Under…

GridBox(children=(VBox(children=(Box(children=(Button(description='Org-Per', layout=Layout(border='solid', fle…

Output()

In [ ]:
tortus.annotations.to_csv('../../sample_project/movie_reviews_annotated.csv',index=False)