In [1]:
import pandas as pd
from tortus import Tortus, get_annotated_path, load_annotated_data

HTML(value="<h1 style='text-align:center'>t &nbsp; <span style=        'color:#36a849'>o</span> &nbsp; r &nbsp…

HTML(value="<h3 style='text-align:center'>        easy text annotation in a Jupyter Notebook</h3>")

In [2]:
# Read news
data_path = '../../../../Relation Extraction/Datasets/100-news/100-news.csv'
data_df = pd.read_csv(data_path,sep='\t')
data_df = data_df.reset_index()
text_col = 'NERed_par'
id_col='index'
labels=['Org-Per','Per-Per', 'Ent-Err', 'Rel-Err']

In [3]:
# Replace markers to highlight 
data_df[text_col] = data_df[text_col].str.replace('[\\','[/', regex=False)
markers_repl_dct = {'[E1]' : '<span style="background-color : yellow">',
     '[/E1]' : '</span>',
     '[E2]' : '<span style="background-color : orange">',
     '[/E2]' : '</span>',     
}
for old, new in markers_repl_dct.items():
    data_df[text_col] = data_df[text_col].str.replace(old, new, regex=False)

In [4]:
# Read movies reviews
#data_path = '../../sample_project/movie_reviews.csv'
#data_df = pd.read_csv(data_path)
#text_col = 'reviews'
#id_col='review_id'
#labels = None

In [5]:
annotations = load_annotated_data(data_path)
annotations

,index,NERed_par,label,annotated_at
0,2401,"NNA - Member of <span style=""background-color ...",org-per,2022-03-24 17:19:14
1,878,NNA - Minister of Education and Acting Ministe...,ent-err,2022-03-24 17:19:48
2,376,"At <span style=""background-color : yellow""> Kf...",org-per,2022-03-24 17:20:19
3,2098,"NNA - Today , the United Nations Special Coord...",per-per,2022-03-24 17:20:30
4,2275,As a follow - on to the Middle East and <span ...,org-per,2022-03-24 17:20:35
5,2650,"Minister <span style=""background-color : yello...",org-per,2022-03-24 17:20:43
6,2334,"<span style=""background-color : yellow""> UN Sp...",per-per,2022-03-24 17:20:45
7,1766,"Commenting on this occasion , <span style=""bac...",org-per,2022-03-24 17:20:48

In [6]:
tortus = Tortus(
    data_df,
    text_col ,
    num_records=10,
    id_column=id_col,
    labels=labels,
    annotations=annotations,
    edit_annotations=True,
)

In [7]:
tortus.annotate()

annotation_index= 0
annotations    index                                          NERed_par    label
0   2401  NNA - Member of <span style="background-color ...  org-per
1    878  NNA - Minister of Education and Acting Ministe...  org-per
2    376  At <span style="background-color : yellow"> Kf...  ent-err
3   2098  NNA - Today , the United Nations Special Coord...  rel-err
4   2275  As a follow - on to the Middle East and <span ...  org-per
5   2650  Minister <span style="background-color : yello...  org-per
6   2334  <span style="background-color : yellow"> UN Sp...  per-per
7   1766  Commenting on this occasion , <span style="bac...  ent-err

HBox(children=(HTML(value='<h1>t &nbsp; <span style="color:#36a849">o</span>             &nbsp; r &nbsp; t &nb…

HTML(value='Click on the label corresponding with the text below. Each selection requires                 conf…

HTML(value='<h4>At <span style="background-color : yellow"> Kfarhatta \'s Secondary Public School </span> , pa…

GridBox(children=(VBox(children=(Box(children=(Button(description='Org-Per', layout=Layout(border='solid', fle…

Output()

In [ ]:
tortus.annotations.to_csv(get_annotated_path(data_path),index=False)

In [8]:
tortus.annotations

,index,NERed_par,label,annotated_at
0,2401,"NNA - Member of <span style=""background-color ...",org-per,2022-03-24 17:19:14
1,878,NNA - Minister of Education and Acting Ministe...,org-per,2022-03-24 17:22:54
2,376,"At <span style=""background-color : yellow""> Kf...",ent-err,2022-03-24 17:22:02
3,2098,"NNA - Today , the United Nations Special Coord...",rel-err,2022-03-24 17:22:36
4,2275,As a follow - on to the Middle East and <span ...,org-per,2022-03-24 17:20:35
5,2650,"Minister <span style=""background-color : yello...",org-per,2022-03-24 17:20:43
6,2334,"<span style=""background-color : yellow""> UN Sp...",per-per,2022-03-24 17:20:45
7,1766,"Commenting on this occasion , <span style=""bac...",ent-err,2022-03-24 17:22:31