In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
from tortus import Tortus, get_annotated_path, load_annotated_data

HTML(value="<h1 style='text-align:center'>t &nbsp; <span style=        'color:#36a849'>o</span> &nbsp; r &nbsp…

HTML(value="<h3 style='text-align:center'>        easy text annotation in a Jupyter Notebook</h3>")

In [3]:
# Read news
data_path = '../../../../Relation Extraction/Datasets/100-news/100-news.csv'
data_df = pd.read_csv(data_path,sep='\t')
data_df = data_df.reset_index()
text_col = 'NERed_par'
id_col='index'
# PER working_at ORG
# ORG employes PER
labels=['working_at','employs','founded','invest_in','collaborate_with','funded_by','a_colleague_of''mentioned_by', 'refer_to', 'talk_to', 'met','no_relation', 'e1-err', 'ent2-err']

In [9]:
data_df

HTML(value="<h1 style='text-align:center'>t &nbsp; <span style=        'color:#36a849'>o</span> &nbsp; r &nbsp…

HTML(value="<h3 style='text-align:center'>        easy text annotation in a Jupyter Notebook</h3>")

,index,NERed_par,e1_text,e1_label,e1_start,e1_end,e2_text,e2_label,e2_start,e2_end,REL
0,0,NNA - Within his tours of the Lebanese regions...,Walid Nassar,PERSON,17,19,Muhammad Jaffal,PERSON,50,52,met_with
1,1,NNA - Within his tours of the Lebanese regions...,Walid Nassar,PERSON,17,19,the Union of Tire Municipalities,ORG,55,60,NaN
2,2,NNA - Within his tours of the Lebanese regions...,Walid Nassar,PERSON,17,19,Hassan Dabouq,PERSON,69,71,met_with
3,3,NNA - Within his tours of the Lebanese regions...,Walid Nassar,PERSON,17,19,the Municipal Council,ORG,74,77,met_with
4,4,NNA - Within his tours of the Lebanese regions...,Walid Nassar,PERSON,17,19,"the Ministry of Tourism, Georges Nour",ORG,91,98,met_with
...,...,...,...,...,...,...,...,...,...,...,...
2669,2669,"After the end of the interventions , President...",Aoun,PERSON,8,9,the United Nations,ORG,41,44,refer_to
2670,2670,The Deputy Secretary - General of <span style=...,the United Nations,ORG,6,9,Amina Mohamed,PERSON,11,13,employs
2671,2671,The Deputy Secretary - General of <span style=...,the United Nations,ORG,6,9,Antonio Guterres,PERSON,24,26,NaN
2672,2672,The Deputy Secretary - General of the United N...,Amina Mohamed,PERSON,11,13,Antonio Guterres,PERSON,24,26,collaborates_with
2673,2673,"French Foreign Minister <span style=""backgroun...",Jean-Yves Le,PERSON,3,7,Macron,PERSON,14,15,collaborates_with

In [20]:
# Replace markers to highlight 
data_df[text_col] = data_df[text_col].str.replace('[\\','[/', regex=False)
markers_repl_dct = {'[E1]' : '<span style="background-color : yellow">',
     '[/E1]' : '</span>',
     '[E2]' : '<span style="background-color : orange">',
     '[/E2]' : '</span>',     
}
for old, new in markers_repl_dct.items():
    data_df[text_col] = data_df[text_col].str.replace(old, new, regex=False)

def get_html(df_row):
    print(f"e1_type: {df_row['e1_label']}, e2_type: {df_row['e2_label']}")
    return df_row[text_col]

In [21]:
# Read movies reviews
#data_path = '../../sample_project/movie_reviews.csv'
#data_df = pd.read_csv(data_path)
#text_col = 'reviews'
#id_col='review_id'
#labels = None

In [22]:
annotations = load_annotated_data(data_path)
annotations

,index,NERed_par,label,annotated_at
0,2401,"NNA - Member of <span style=""background-color ...",org-per,2022-03-24 17:19:14
1,878,NNA - Minister of Education and Acting Ministe...,org-per,2022-03-24 17:22:54
2,376,"At <span style=""background-color : yellow""> Kf...",org-per,2022-03-24 17:23:25
3,2098,"NNA - Today , the United Nations Special Coord...",rel-err,2022-03-24 17:22:36
4,2275,As a follow - on to the Middle East and <span ...,org-per,2022-03-24 17:20:35
5,2650,"Minister <span style=""background-color : yello...",org-per,2022-03-24 17:20:43
6,2334,"<span style=""background-color : yellow""> UN Sp...",per-per,2022-03-24 17:20:45
7,1766,"Commenting on this occasion , <span style=""bac...",ent-err,2022-03-24 17:22:31

In [27]:
tortus = Tortus(
    data_df,
    text_col ,
    num_records=100,
    id_column=id_col,
    labels=labels,
    annotations=annotations,
    edit_annotations=False,
    get_html=get_html,
)

In [28]:
tortus.annotate()

HBox(children=(HTML(value='<h1>t &nbsp; <span style="color:#36a849">o</span>             &nbsp; r &nbsp; t &nb…

HTML(value='Click on the label corresponding with the text below. Each selection requires                 conf…

HTML(value='<h4>NNA - Within his tours of the Lebanese regions , the Minister of Tourism , Eng . <span style="…

GridBox(children=(VBox(children=(VBox(children=(HBox(children=(Button(description='working_at', layout=Layout(…

Output()

In [ ]:
tortus.annotations.to_csv(get_annotated_path(data_path),index=False)

In [ ]:
tortus.annotations